<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <header>
      <% include ./partials/_header %>
    </header>
        <h1><%= title %></h1>
        <% if (user === undefined) { %>
          <p></p>
        <% } else { %>
          <ul>
      <% for (let key in list) { %>
          <li><%= key %> : <%= list[key] %>
          <p>Total Visits: <%= urls[key].totalVisits %></p>
          <p>Unique Visits: <%= urls[key].uniqueVisits %></p>
          <p>Traffic Log: <%= JSON.stringify(urls[key].trafficLog) %></p>
            <form method="POST" action="/urls/<%=key%>?_method=DELETE">
            <input type="submit" value="Delete">
            </form>
            <form method="POST" action="/urls/<%=key%>?_method=PUT">
            <input type="submit" value="Update">
            </form>
          <% } %>
        <% } %>
        </li>
    </ul>
</body>
</html>