<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <header>
      <% include ./partials/_header %>
    </header>
        <h1><%= title %></h1>
        <% if (user === undefined) { %>
          <p></p>
        <% } else { %>
          <ul>
      <% for (let key in list) { %>
          <li><%= key %> : <%= list[key] %>
            <form method="POST" action=<%=`/urls/${key}/delete`%>>
            <input type="submit" value="Delete">
            </form>
            <form method="POST" action=<%=`/urls/${key}/update`%>>
            <input type="submit" value="Update">
            </form>
          <% } %>
        <% } %>
        </li>
    </ul>
</body>
</html>